<table>
   <thead>
      <tr>
        <th>タスク名</th>
        <th>タスク詳細</th>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <% @tasks.each do |task| %>
      <tbody>
        <tr>  
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= link_to "詳細" ,task_path(task) %>
          <td><%= link_to "編集", edit_task_path(task) %>
          <td><%= link_to "削除", task_path(task), method: :delete, data: {confirm: "本当に削除しますか ?"} %>
        </tr>
      </tbody>
    <% end %>
</table>