<h1>詳細</h1>
<p>タスク名</p>
<p><%= @task.title %></p>
<p>タスク詳細</p>
<p><%= @task.content %></p>
<p>締め切り日</p>
<p><%= @task.deadline.strftime("%Y年 %m月 %d日") %></p>
<p>優先順位</p>
<p><%= Task.priorities_i18n[@task.priority] %></p>
<p>進捗</p>
<p><%= Task.conditions_i18n[@task.condition] %></p>
<%= link_to "一覧へ", root_path %>
