<div id ="admin_<%= user.id %>">
  <% if user.admin? %>
    <%= form_with(model:[:admin, user], url: admin_remove_path(user))  do |f| %>
      <%= f.submit  "あり" %>
    <% end %>
  <% else %>
    <%= form_with(model:[:admin, user], url: admin_add_path(user))  do |f| %>
      <%= f.submit  "なし" %>
    <% end %>
  <% end %>
</div>
